# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Logs
logs/
syslog/
*.log

# OS
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Docker
docker-logs/
docker-syslog/

# Test
src/test/
